<h1>Login</h1>

<form action="/login" method="Post">
    <input type="text" name="username" placeholder="Username">
    <input type="text" name="password" placeholder="Password">
    <button type="submit">Submit</button>
</form>

<p><a href="/register">Sign Up!</a></p>
<p><a href="/login">Sign In!</a></p>
<p><a href="/logout">Sign Out!</a></p>