<h1>This is the registration form</h1>

<form action="/register" method="Post">
    <input type="text" name="username" placeholder="Username">
    <input type="text" name="password" placeholder="Password">
    <button type="submit">Submit</button>
</form>