body{
    background-color: #212121;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    max-width: 600px;
    margin: 20px auto;
}
.box{
    padding-bottom: 30%;
    width: 30%;
    background-color: red;
    float: left;
    margin: 1.66%;
    border-radius: 15%;
    transition: background-color 0.6s;
    -moz-transition: background-color 0.6s;
}
h1{
    background-color: steelblue;
    color :white;
    text-align: center;
    margin: 0;
    text-transform: uppercase;
    
    padding: 20px 0;
    
}

.stripe{
    background-color: white;
    text-align: center;
    height: 30px;
}

.selected{
    background-color: steelblue;
    color:white;
}
#guess{
    font-size: 400%;
    padding-top: 0;
    
}
#message{
    width:20%;
    display: inline-block;
    text-transform: uppercase;
    color: steelblue;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: inherit;
}
button{
    border: none;
    background: none;
    height: 100%;
    text-transform: uppercase;
    color: steelblue;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: inherit;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
    transition: all 0.3s;
    -moz-transition: all 0.3s;
}
button:hover{
    background-color: steelblue;
    color:white;
}